build/
node_modules/
.env*
.DS_Store
scratch/
*.exe
*.png
*.dll
*.DLL
*.wav
*.WAV
*.mid
*.MID
*.DAT
*.bmp
test/binaries/pinball/
test/binaries/pinball-plus95/
test/binaries/dlls/
!test/binaries/dlls/SOURCES.md
!test/binaries/SOURCES.md
